html{
    background-color:aquamarine;
}

header h1{
    text-align: center;
    margin-bottom: 1cm;
}

#nav{
    text-align:center;
    border-bottom: 0.2em solid black;
    margin-bottom: 2cm;
}

a.navItem:hover {
    color:rgb(0, 0, 0);
    font-size: 1.1em;
  }



.navItem {
    margin: 0.2em;
    padding: 0.5em;
    text-decoration: none;
    color: blue;
    text-align: center;
  }


.post a{
    margin: 0cm;
    padding: 0cm;
}

.post a:hover{
    color: red;
}

img{
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.post,.comment,.subcomment{
    width: 900px;
    height:max-content;
    border:solid 2px black;
}

.post h3 {
    text-align: top;
    float:inline-start;
}

.comment{
    margin-top: 5px;
    margin-left: 1.25cm;
}

.subcomment{
    margin-left: 2.5cm;
}


.comment p{
    display: inline-block;
    
}

footer{
    border-top: 0.2em solid black;
    margin-top: 2cm;
}
