html{
    background-color:aquamarine;
}

header h1{
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    margin: 0px;
	padding: 0px;
}

nav li{
    margin:auto;
}

div a{
    margin: 0;
    padding: 0;
}

img{
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.post,.comment,.subcomment{
    width: 900px;
    height: max-content;
    border:solid 2px black;
}

.post h3 {
    text-align: top;
    float:inline-start;
}



.comment{
    margin-top: 5px;
    margin-left: 1.25cm;
}

.subcomment{
    margin-left: 2.5cm;
}


.comment p{
    display: inline-block;
    
}


